/* Component styles */
@import './Button/Button.css';
@import './Input/Input.css';
@import './Card/Card.css';
@import './Heading/Heading.css';
@import './Container/Container.css';

/* Data Display */
@import './Table/Table.css';
@import './Chart/Chart.css';

/* Form Components */
@import './Select/Select.css';
@import './Checkbox/Checkbox.css';
@import './Radio/Radio.css';

/* Feedback Components */
@import './Modal/Modal.css';
@import './Toast/Toast.css';

/* Patterns */
@import './patterns/FormField/FormField.css';
@import './patterns/DataTable/DataTable.css';
@import './patterns/StateDisplay/StateDisplay.css';

/**
 * Design System UI Styles
 *
 * Usage:
 *   import '@ds/ui/styles.css';
 *
 * Note: Make sure to also import tokens:
 *   import '@ds/tokens';
 */

/* Reset for DS components */
.ds-button,
.ds-input,
.ds-card,
.ds-table,
.ds-select,
.ds-checkbox,
.ds-radio,
.ds-modal,
.ds-toast {
  box-sizing: border-box;
}
